<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>
    <%= f.input :name, required: true %>
    <%= f.input :surname, required: true %>
    <%= f.input :birthday, as: :date, start_year: 1900,
                              end_year: Date.today.year - 7, order: [:day, :month, :year] %>
    <%= f.input :gender, required: true %>

    <hr/>

    <%= f.input :bio, as: :text %>
    <%= f.input :website %>
    <%= f.input :stackoverflow %>
    <%= f.input :github %>
    <%= f.input :bitbucket %>
    <%= f.input :blog %>
    <%= f.input :twitter %>
  </div>


  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
