- content_for :tools do
  #toolbox
    .btn-group
      %a.btn{href: '#', data: {toggle: 'toolbar-tooltip'}, title: 'Building'}
        %i.icon-building
      %a.btn{href: '#', data: {toggle: 'toolbar-tooltip'}, title: 'Laptop'}
        %i.icon-laptop
      %a.btn{href: '#', data: {toggle: 'toolbar-tooltip'}, title: 'Calendar'}
        %i.icon-calendar
      %a.btn{href: '#', data: {toggle: 'toolbar-tooltip'}, title: 'Lemon'}
        %i.icon-lemon

%h1.text-center Users List

.panel.tables
  .panel-heading
    %i.icon-table.icon-large 
    Default Table
  .panel-tools
    .badge= "#{@users.length} records"
  .panel-body.no-padding
    .table-header.row
      .col-lg-9
        TODO: Add filters here
      .col-lg-3
        .input-group
          %input.form-control{placeholder: 'Quick search...', type: 'text'}/
          %span.input-group-btn
            %button.btn{type: 'button'}
              %i.icon-search
    %table.table
      %thead
        %tr
          %th
            \#
          %th
            Name
          %th
            Surname
          %th
            Email
          %th
            Date of Birth
      %tbody
        - @users.each do |user|
          %tr
            %td= user.id
            %td= user.name
            %td= user.surname
            %td= user.email
            %td= user.birthday.to_date
            %td.action
              %btn.btn-success
                %a.btn.btn-success{href: "#{user_url(user)}", data: {toggle: 'tooltip'}, title: 'Zoom'}
                  %i.icon-zoom-in
