%html
	%head
		= render 'layouts/head'
		= stylesheet_link_tag "executive", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "executive", "data-turbolinks-track" => true
	%body.main
		#wrapper
			= render 'layouts/sidebar'
			%section#tools
				= yield :tools
			#content
				= render 'layouts/notices'
				= yield
				= render 'layouts/footer'