%html
	%head
		= render 'layouts/head'
		= stylesheet_link_tag    "executive", media: "all", "data-turbolinks-track" => true
	%body
		= render 'layouts/sidebar'
		.container
			= render 'layouts/notices'
			= yield
		= render 'layouts/footer'